/*CLEAR IN FUTURE*/
/*create highliting properties*/


body {
	color: gray;
	font-family: sans; 
	font-size: 14;
	margin: 0;
	padding: 0;
}

a {
    color: #cc0000;
    text-decoration: none;
}
p {margin:0;}

#page {
	margin-left: auto;
	margin-right: auto;
	max-width: 75em;
}

#header-image {
	display: block;
	position: relative;
	padding-top: 0.5em;
	width: 100%;
}

nav ul {
	margin: auto;
	max-width: 30em;
	height: 2em;
	position: relative;
	list-style: none;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	padding: 0;
}

nav ul li a {
	text-decoration: none;
	color: black;
	display: block;
	float: left;
	position: relative;
	text-align: center;
	width: 7.5em;
	max-width: 25%;
	padding:0.5em 0;
	background-color: white;
	transition: background-color 250ms linear;
}

nav ul li a:after {
	background-color: none;
	transition: background-color 250ms linear;
    content: '';
    display: block;
    position: absolute;
    top: 1.75em;
    left: 0;
    right: 0;
    bottom: 0;
}

nav ul li a:hover:after {
	background-color: lightgreen;
	transition: background-color 250ms linear;
    content: '';
    display: block;
    position: absolute;
    top: 1.75em;
    left: 0;
    right: 0;
    bottom: 0;
}

header, nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

.header {
	background-color: white;
	border-bottom: 1px solid black;
	position: absolute;
	width: 100%;
	max-width: 75em;
}

.sticky {  
    position: fixed;  
    width: 100%;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}  

.content-item {
	/*padding-top: 3em;*/

}

a.nav-active {
	background-color: lightblue;
	transition: background-color 250ms linear;
}

.content-item-active {
	background-color: lightblue;

}